.body{
    width: 630px;
    height: 630px;
}

.h1wrapper{
    margin:0 auto;
    text-align: center;
}

.emulator{
    border: 2px solid dodgerblue;
    border-radius: 18px;
    height:320px;
    width:320px;
    margin:0 auto;
    align-items: center;
}

.splashScreen{
    border: 2px solid dodgerblue;
    border-radius: 18px;
    height:320px;
    width:320px;
    background-color: #3498db;
    display: none;
}

.brand{
    padding-top:106px;
    padding-left: 41px;
    color: white;
    font-size: 50px;
    display: none;
    font-style: italic;
}

.container-fluid{
    height:300px;
    width:300px;
    margin:0 auto;
}

.quote{
    width :320px;
    margin:0 auto;
}

p{
    font-size:0.7em;
}